.arrbtn:hover{
    color: white;
    background-color: blue;
    border-radius: 50%;
}

.hdskl{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: 
    #3c4043;
}