.arrbtn:hover{
    color: white;
    background-color: blue;
    border-radius: 50%;
}

.hdskl{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: 
    #3c4043;
}

.hdskl1{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3c4043;
    

}

.hdskl2{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
Color:
#80868b
}