.txhd {
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
    Color:
        #3c4043
}

.txtext {

    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    Color:
        #80868b
}