.txhd{
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    font-style: normal;
    color: #3c4043;
    margin: 50px;
  }

  .wrtnt{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    color: #3c4043;
    margin: 50px;
  }